[submodule "metadrive"]
	path = baselines/MetaDrive
	url = git@github.com:metadriverse/metadrive.git
[submodule "HDMapGen"]
	path = baselines/HDMapGen
	url = git@github.com:agshar96/HDMapGen.git
[submodule "RoadGen"]
	path = baselines/RoadGen
	url = git@github.com:roadgen/RoadGen.git
[submodule "sledge"]
	path = baselines/SLEDGE
	url = git@github.com:autonomousvision/sledge.git
[submodule "tactics2d"]
	path = tactics2d
	url = git@github.com:WoodOxen/tactics2d.git
